*{
	width: 100%;
	margin: 0;
	text-align: center;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;
	color: black;
}
section p{
	width: 90%;
	margin: auto;
	word-wrap: normal;
	text-align: left;
}
h2{
	color: #9a621c;
}
header{
	background-color: #cbd835;
	position: fixed;
	height: 12%;
	top: 0;
	z-index: 999;
}
header img{
	width: 20%;
}
.logo{
	position: absolute;
	margin: 0;
	top: 10px;
	color: #9a621c;
}
.nav-drawer{
    position: absolute;
    top: 0;
    left: 20px;
}
.nav-unshown {
  display:none;
}
#nav-open {
  display: inline-block;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 4px;/*線の太さ*/
  width: 40px;/*長さ*/
  background: black;
  display: block;
  content: '';
  cursor: pointer;
  z-index: 9999;  
}

#nav-open span:before {
  bottom: -15px;
}
#nav-open span:after {
  bottom: -30px;
}
#nav-input:checked ~ #nav-open span{
	background: transparent;
}
#nav-input:checked ~ #nav-open span:before{
 	-webkit-transform: rotate(-45deg);
 	transform: rotate(-45deg);
 	top: 15px;
}
#nav-input:checked ~ #nav-open span:after{
 	-webkit-transform: rotate(45deg);
 	transform: rotate(45deg);
 	top: 15px;
 }
/*中身*/
.global-nav {
	 position: fixed;
	 top: 12%;
	 left: 0px;
	 background: #d9dcb594;
	 transition: .3s ease-in-out;/*表示*/
	 transform: translateY(-325%);/*上にかくしておく*/
}
.global-nav ul{
	list-style: none;
}
/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: 0.5;
}
#nav-input:checked ~ .global-nav {
  transform: translateY(0%);/*中身を表示*/
  z-index: 99;
}	
.global-nav ul{
	padding: 5px 0;
	margin: 0;
}
.global-nav li{
	margin: 3px;
}
#slider{
	margin-top: 20%;
	position: relative;
	overflow: hidden;
	background-size: cover;
}
#slider img{
		width: 100%;
}
/*.slider img{
	animation: 10s infinite;
	margin: 0;
	opacity: 0;
	position: absolute;
}*/
/*@keyframes show {
    10% {opacity:0.5}
    20% {opacity:1}
    90%{opacity:1}
    95%{opacity:0.5}
    100%{opacity:0.3}
    100%{transform: translateX(-50%);}
}
.slider img:nth-of-type(1){
	animation-name: show;
}
.slider img:nth-of-type(2){
	animation-name: show;
	animation-delay: 10s;
}
.slider img:nth-of-type(3){
	animation-name: show;
	animation-delay: 20s;
}
.slider img:nt4-of-type(4){
	animation-name: show;
	animation-delay: 30s;
}
.slider img:nth-of-type(5){
	animation-name: show;
	animation-delay: 40s;
}
.slider img:nth-of-type(6){
	animation-name: show;
	animation-delay: 50s;
}*/
/*
@keyframes slide1 {
	0% {opacity: 0; transform: scale(1);}
	10% {opacity: 1;}
	40% {transform: scale(1.05);}
	50% {opacity: 1;}
	60% {opacity: 0;}
	100% {opacity: 0;}
}*/
/*２枚目*/
/*@keyframes slide2 {
	0% {opacity: 0;}
	25% {opacity: 0; transform: scale(1);}
	35% {opacity: 1;}
	65% {transform: scale(1.05);}
	75% {opacity: 1;}
	85% {opacity: 0;}
	100% {opacity: 0;}
}
.slide1,.slide2,.slide3,.slide4,.slide5{
	animation-duration: 10s;	実行する時間。「s」は秒の事。
	animation-iteration-count:infinite;		/*実行する回数。「infinite」は無限に繰り返す意味。
	position: absolute;left:0px;top:0px;width: 100%;height: auto;
	animation-fill-mode: both; /*「待機中＝最初のキーフレームの状態で待機」で、「実行後＝最後のキーフレームの状態でストップ」
	animation-timing-function: linear;
	animation-delay: 5s;
}
/*土台画像*/
/*.slide0 {
	position: relative;width: 100%;height: auto;
}*/
/*１枚目*/
/*.slide1 {
	animation-name: slide1;		上で設定しているキーフレーム（keyframes）の名前
}
/*２枚目*/
/*.slide2 {
	animation-name: slide2;		/*上で設定しているキーフレーム（keyframes）の名前
}*/
/*.slide3 {
	animation-name: slide3;		/*上で設定しているキーフレーム（keyframes）の名前
}*/
/*.slide4 {
	animation-name: slide4;		/*上で設定しているキーフレーム（keyframes）の名前
}*/	
/*.slide5 {
	animation-name: slide5;		/*上で設定しているキーフレーム（keyframes）の名前
}*/

main{
	width: 90%;
	padding: 5px 05px;
	margin: auto;
}
section{
	padding: 5px;
}
article{
	text-align: center;
}
tr,td,th{
	display: block;
}
tr{
	margin-bottom: 20px;
}


footer p{
	color: white;
}
footer{
	position: relative;
	background-color: #0a1f40;
	color: white;
	margin-bottom: 0;
}
.map{
	width: 90%;
	margin: auto;
}
/*スマホサイト*/
@media screen and (min-width:480px) { 
	header img{width: 50px;}
	.nav-drawer{width: 20%;}
	#nav-open span, #nav-open span:before, #nav-open span:after{
		display:none;}
	.global-nav {
		top: 12%;
		width: 20%;
		height: 100%;
		background-color: #0a1f40;
		transition: .3s ease-in-out;
		transform: translateY(0);}/*通常表示く*/
	#slider{
		height: 350px;
		margin: 0;
		margin-top: 4%;}
/*	#slider img{
		animation: 10s infinite;
		position: absolute;}  */
	main{
		position: relative;
		left: 10%;}
	section{
		margin: 30px auto;
		width: 70%;}
	article{
		width:90%;
		margin: auto;
		position: relative;
	    top: 0;}
	table{
		width: 90%;
		margin: auto;
		display: flex;}
	th,td{
		width: 80%;
		margin: 5px;}
	tr{
		height: 30%;
	}

	.tr1,.tr2,.tr3,.tr4,.tr5,.tr6,.tr7,.tr8,.tr9{
		display: block;
		position: absolute;
		width: 30%;
		vertical-align: top;}
	.tr1{
		top:10px;}
	.tr2{
		top: 10px;
		left: 34%;}
	.tr3{
		top: 10px;
		left: 62%;}
	.tr4{
		top: 350px;}
	.tr5{
		top: 350px;
		left: 34%;}
	.tr6{
		top: 350px;
		left: 62%;}
	.tr7{
		top: 700px;}
	.tr8{
		top: 700px;
		left: 34%;}
	.tr9{
		top: 700px;
		left: 62%;}

	.global-nav li,.global-nav li a{
		margin: 20px auto;
		color: #e6da49;}	
	footer{
		position: fixed;
		bottom: 0;		
		left: 20%;
		width: 80%;
		height: 100px;}
	.map{
		padding: 15px;}
	iframe{
		width: 80%;}


